* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* color: rgb(29, 28, 28); */
    color: #19282F;
}

::-webkit-scrollbar {
    width: 10px;
    overflow-y: scroll;
}

::-webkit-scrollbar-thumb {
    width: 100%;
    border-radius: 20px;
    background-color: #656768;
}

::-webkit-scrollbar-track {
    background-color:#919ba0;
}

.navbar {
    padding-left: 8%;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: cornsilk;
    opacity: 0.7;
}

.navbar-brand {
    margin-right: 25%;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

h1 {
    font-family: 'Abril Fatface', cursive; 
    font-weight: 100;
    font-size: 3rem;
    word-spacing: 1.5px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

h1 span {
    font-size: 4rem;
    color: #EAE2B6;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 2.5rem; 
    letter-spacing: 1.5px;
    margin-top: 15px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Abril Fatface', cursive; 
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

p {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}


.my-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #558776;
    padding-block: 25px;
}

.socials {
    margin-top: 70px;
}

.socials a {
    display: block;
    margin-bottom: 20px;
    margin-left: 5px;
}

.socials a i {
    transition: font-size 100ms ease-in;
}

.socials a i:hover {
    font-size: 2.5rem;
}

.major-heading {
    margin-right: 5%;
    margin-top: 5%;
}

.my-profile-picture {
    width: 250px;
    position: relative;
    right: 50px;
    top: 90px;
    border: 1px solid black;
}

i {
    margin-inline-end: 20px;
}

#my-links {
    text-decoration: none;
    color: black;
}

.my-container button{
    color: rgb(29, 28, 28);
    font-size: 2rem;
    letter-spacing: 2px;
    width: 30%;
    padding: 2% 1%;
    border-radius: 40px;
    text-align: center;
    background-color: #cad328;
    opacity: 0.9;
    transition: padding 100ms ease-in, opacity 100ms ease-in;
    box-sizing: initial;
    border: thin;
}

.my-container button:hover {
    background-color: #cad328;
    opacity: 1;
    cursor: pointer;
    padding: 2% 1.5%;
}

.my-container button i {
    margin-inline-end: 10px;
}

.about {
    padding: 25px 8%;
    background-color: #EAE2B6;
}

.about div {
    width: 80%;
}

.skills {
    padding: 25px 8%;
    background-color: #EEEDDE;
    font-weight: 900;
}


.first-skills {
    display: flex;
    flex-wrap: wrap;
}


.skills-list ul {
    list-style-type: none;
    padding-left: 0;
}

.skills-list {
    margin-top: 50px;
}

.skills-list li {
    font-size: 1.5rem;
    margin-bottom: 20px;
    width: 50%;
}

.carousel-section {
    padding: 5%;
    background-image: linear-gradient(to right, #f0ecb6, #7F8B52);
}

.carousel-section h2 {
    text-align: center;
    margin-top: 0px;
}

.carousel-inner {
    width: 60%; 
    margin: 50px auto 0;
    box-shadow: 5px 5px 20px rgb(72, 131, 131);
}

.carousel-item img {
    height: 400px;
}


.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators [data-bs-target] {
    background-color: #243D25;
}

footer {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3% 6% 0% 5%;
    position: relative;
}

footer i {
    color: white;
}

footer p {
    color: white;
    font-size: 0.875rem;
    display: inline;
}

.contact {
    margin-bottom: 20px;
}

.contact p {
    position: relative;
    bottom: 7px;
}

.contact button {
    background-color: transparent;
    color: white;
    border: 0;
    padding: 0;
}

.contact div {
    text-align: left;
    margin-bottom: 20px;
}

.handles div {
    margin-bottom: 20px;
}

.dev-codes .front-end {
    position: relative;
    bottom: 8px;
    text-decoration: none;
}


.dev-codes .front-end img {
    margin-right: 7px;
    margin-left: 30px;
}

.social-handles i {
    margin-right: 50px;
}

.resume-container {
    width: 20%;    
}

footer .resume {
    color: rgb(29, 28, 28);
    font-size: 1.5rem;
    letter-spacing: 2px;
    width: 80%;
    padding: 2%;
    border-radius: 40px;
    text-align: center;
    background-color: #cad328;
    box-sizing: initial;
    border: thin;
}


footer .resume i {
    margin-inline-end: 10px;
    color: black;
}


.copyright {
    position: absolute;
    bottom: 0;
    right: 0;
}

.copyright p {
    font-size: 0.8rem;
}

@media only screen and (max-width: 1200px) {
    h1 {
        width: 80%;
    }

    .major-heading {
        margin-left: 10%;
    }

    .my-profile-picture {
        max-width: 150px;
        top: 30px;
    }

    .carousel-inner {
        width: 75%;
    }
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 2rem;
    }

    h1 span {
        font-size: 2.5rem;
    }

    .my-container button {
        width: 40%;
        font-size: 1.5rem;
    }

    .resume-container {
        position: absolute;
        right: 50px;
        top: 60%;
        max-width: 300px;
    } 

    .resume-container button {
        font-size: 1rem;
    }

    footer .resume {
        width: 100%;
    }

    .handles {
        margin-bottom: 100px;
        
    }
} 

@media only screen and (max-width: 768px) {
    .navbar {
        position: absolute;
        opacity: 0.9;
    }


    h2 {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 2rem;
    }

    .socials a {
        margin-bottom: 10px;
    }

    .socials a i {
        font-size: 1.5rem;
    }

    .socials a i:hover {
        font-size: 2rem;
    }

    .my-profile-picture {
        max-width: 120px;
    }

    .about {
        padding: 5%;
        margin: 0 auto;
    }

    .about p {
        font-size: 1.5rem;
        padding-inline: 5%;
    }

    .about div {
        width: 100%;
    }

    .first-skills {
        display: flex;
        flex-direction: column;
    }

    .skills-list li {
        width: 100%;
        margin-bottom: 30px;
    }

    .carousel-inner {
        width: 90%;
    }

    .social-handles {
        text-align: end;
    }

    .social-handles i {
        margin-right: 0;
        margin-left: 50px; 
    }

    
}

@media only screen and (max-width: 500px) {
    .navbar {
        padding-left: 3%;
    }

    .navbar-brand {
        font-size: 1rem;
        margin-right: 0;
    }

    h1 {
        width: 100%;
    }

    h2 {
        font-size: 1.5rem;
    }

    .socials {
        display: none;
    }

    .my-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .my-profile-picture {
        margin-top: 20%;
        position: inherit;
        margin-inline: auto;
    }

    .major-heading {
        width: 100%;
        padding-inline: 10%;
        margin: 20px 0;
    }

    .my-container button {
        width: 50%;
    }

    .about{
        text-align: center;
        padding: 5% 0;
    }

    .about p {
        font-size: 1rem;
    }

    .first-skills span {
        display: none;
    }

    .first-skills li {
        font-size: 1rem;
    }

    .skills {
        padding-block: 5%;
    }

    .currently-learning {
        text-align: center;
        background-color: #212121;
        color: white;
        font-weight: normal;
        padding-top: 2%;
    }

    .currently-learning h3 {
        font-size: 1.2rem;
    }

    .currently-learning p {
        font-size: 1rem;
    }

    .carousel-section {
        padding: 5% 0 10%;
    }
    
    .carousel-inner {
        width: 95%;
        margin: 0 auto;
        box-shadow: none;
    }

    .carousel-item img {
        height: 200px;
    }

    footer {
        flex-direction: column;
        padding-top: 10%;
    }

    .contact {
        margin-bottom: 5px;
    }

    .resume-container {
        position: relative;
        left: 30%;
        width: 40%;
        bottom: 80px;
    }

    .contact, .handles {
        width: 100%;
    }

    .social-handles {
        text-align: start;
        margin-left: 32%;
    }

    .social-handles i {
        margin-left: 20px;
    }

    .dev-codes .front-end {
        margin-left: -30px;
    }

    .dev-codes .front-end img {
        margin-right: 20px;
    }

    .dev-codes .fa-github {
        position: absolute;
        top: 55%;
        left: 22.5%;
    }

    .copyright {
        position: initial;
        text-align: center;
    }

    .copyright p {
        font-size: 0.6rem;
    }


}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 1.5rem;
    }

    h1 span {
        font-size: 2rem;
    }

    .about p {
        font-size: 0.8rem;
    }

    .my-container button {
        width: 60%;
        font-size: 1rem;
    }

    .copyright {
        width: 100%;
    }

    footer p {
        font-size: 0.7rem;
    }

    .copyright p {
        font-size: 0.52rem;
    }
}
